<!-- CURSOS -->
<section id="cursos">
    <h3 class="titulo-seccion">MIS cursos</h3>
    <div class="fila">
        <div class="cursos">
            <span class="icono"><i class="fa-solid fa-code"></i></span>
            <h4>Introducción al Desarrollo Web</h4>
            <hr>
            <ul class="cursos-tag">
                <li>HTML</li>
                <li>CSS</li>
            </ul>
            <p>Iniciarte en la programación web, contarás con una serie de clases teóricas y prácticas que te
                permitirán entender y aplicar los conceptos básicos e intermedios de HTML5.</p>
        </div>
        <div class="cursos">
            <span class="icono"><i class="fa-solid fa-code"></i></span>
            <h4>Desarrollo Web con JavaScript</h4>
            <hr>
            <ul class="cursos-tag">
                <li>HTML</li>
                <li>CSS</li>
                <li>JavaScript</li>
            </ul>
            <p>Aprenderás desde lo más básico del lenguaje, e irás avanzando hasta dominar el nivel intermedio de
                JavaScript Ecma Script-6.</p>
        </div>
        <div class="cursos">
            <span class="icono"><i class="fa-solid fa-code"></i></span>
            <h4>Desarrollo Web con JavaScript Avanzado</h4>
            <hr>
            <ul class="cursos-tag">
                <li>HTML</li>
                <li>CSS</li>
                <li>JavaScript</li>
            </ul>
            <p>Manipular las fechas de nuestro sistema operativo. Manipular los tiempos del sistema operativo.
                Trabajar con los objetos literales, como se construyen y cómo accedemos a ellos, utilidad de los
                mismos.</p>
        </div>
    </div>
</section>
