<!-- SOBRE NOSOTROS -->
<section id="sobreNosotros">
    <div class="contenedor-foto sobreNosotros">
        <img src="https://github.com/juancarlos-197.png" alt="Juán Carlos Albán Luna">
                <h2><span>ING. Informático.</span></h2>

        <h6>Juán Carlos Albán Luna.</h6>
    </div>
    <div class="sobreNosotros">
        <h3 class="titulo-seccion">Sobre Nosotros</h3>
        <h2>Hola, soy <span>App Web </span></h2>




        <p>
            Ingeniero en Informática con experiencia en desarrollo full-stack, profesional en Angular y tecnologías
            JavaScript en el backend. Apasionado por la creación de soluciones eficientes, escalables y bien
            estructuradas. Con enfoque en buenas prácticas de desarrollo, accesibilidad y diseño responsivo. Capacidad
            para liderar proyectos, trabajar en equipo y adaptarse a entornos cambiantes. </p>

        <p>Nuestro propósito es transformar la vida profesional de las personas, otorgandoles recursos tecnológicos muy
            demandados en el mercado laboral.</p>
        <p>Teléfono: <a href="tel:+57 304 379 8509" target="_blank">+57 304 379 8509 </a></p>
        <p>Website: <a href="https://www.facebook.com/jalbanluna"
                target="_blank">https://www.facebook.com/jalbanluna</a></p>
    </div>
</section>