<!-- SOBRE NOSOTROS -->
<section id="sobreNosotros">
    <div class="contenedor-foto">
        <img src="https://github.com/juancarlos-197.png" alt="Juán Carlos Albán Luna">
    </div>
    <div class="sobreNosotros">
        <h3 class="titulo-seccion">Sobre Nosotros</h3>
        <h2>Hola, somos <span>App Web </span></h2>
        <p>Nacimos en el año 2017 con la intención de generar todo un conjunto de cursos en línea sobre desarrollo  web y de esa forma apoyarte en tu desarrollo profesional.</p>
        <p>Nuestro propósito es transformar la vida profesional de las personas, otorgandoles recursos tecnológicos muy demandados en el mercado laboral.</p>
        <p>Teléfono: <a href="tel:+57 304 379 8509" target="_blank">+57 304 379 8509 </a></p>
        <p>Website: <a href="https://www.facebook.com/jalbanluna" target="_blank">https://www.facebook.com/jalbanluna</a></p>
    </div>
</section>