<section class="align  flex-container ">
    <form [formGroup]="formulario" class="form ">
        <mat-form-field class="">
            <mat-label>Title </mat-label>
            <input matInput formControlName="title" placeholder="Ex. Pizza" value="Sushi">
        </mat-form-field>
        <button mat-icon-button color="primary"(click)="onSubmit()">
            
            <mat-icon>edit</mat-icon>
        </button>
 
    </form>
</section>

<section>
    @if (data) {
    <app-grid [displayedColumns]="displayedColumns" [data]="data" [sortableColumns]="sortables" />
    }


</section>