<!-- PIE DE PÁGINA -->
<footer>
    <p>Todos los derechos reservados - <a href="https://github.com/juancarlos-197" target="_blank">APP WEB  2025</a>
    </p>
    <div class="redes">
        <a href="https://www.youtube.com/@juancarlosalbanluna818" target="_blank"><i
                class="fa-brands fa-youtube"></i></a>
        <a href="https://www.facebook.com/jalbanluna" target="_blank"><i class="fa-brands fa-facebook"></i></a>
        <a href="https://www.instagram.com/juan_carlos_alb/" target="_blank"><i
                class="fa-brands fa-instagram-square"></i></a>
    </div>
</footer>
