<section class="mt-1">
    <app-filter [label]="'Filter ...'" [placeholder]="'Search...'" [(filter)]="valueToFilter" />
    <div class="mat-elevation-z8">
        <table mat-table matSort [dataSource]="dataSource">
            @for (column of displayedColumns(); track $index) {
            <!-- Position Column -->
            <ng-container [matColumnDef]="column">
                @if (this.sortableColumns().includes(column)) {

                <th mat-header-cell *matHeaderCellDef [ngClass]=" ' blue' " mat-sort-header=""> {{column}}. </th>
                }@else {
                <th mat-header-cell *matHeaderCellDef [ngClass]=" ' blue' "> {{column}}. </th>
                }

                <td mat-cell *matCellDef="let element">
                    {{element[column]}}
                    @if (column == 'action') {

                    <button mat-icon-button color="primary" matButton="elevated"
                        (click)="openDialogTaskEdit('3000ms', '1500ms')">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button color="warn" matButton="elevated"
                        (click)="openDialogTaskEliminar('6000ms', '2500ms')">
                        <mat-icon>delete</mat-icon>
                    </button>
                    }
                </td>
            </ng-container>
            }
            <tr mat-header-row *matHeaderRowDef="displayedColumns()"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns();"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
            aria-label="Select page of periodic elements">
        </mat-paginator>
    </div>

    <div class="card text-center">
        <div class="card-header"></div>
        <div class="card-body">
            <ng-template #templateList>
                <h4>Template syntax (Sintaxis de la plantilla)</h4>
            </ng-template>
            <div *ngTemplateOutlet="templateList"></div>
            <pre>
      <p class="card-text" *ngIf="templateList">En Angular, una plantilla es un fragmento de HTML. 
        Usa una sintaxis especial dentro de una plantilla para aprovechar muchas de las funciones de Angular </p>
      {{valueToFilter()  }}
    </pre>
        </div>
        <div class="card-footer text-body-secondary">... </div>
    </div>
    <div class="card text-center">
        <div class="card-header"></div>
        <div class="card-body">
            <h5 class="card-title">Writable signals</h5>
            <p class="card-text">Las señales escribibles proporcionan una API para actualizar sus valores directamente.
                Se crean llamando a la signalfunción con el valor inicial de la señal:</p>
            <a href="#" class="btn btn-primary">Número {{count()}}</a>
        </div>
        <div class="card-footer text-body-secondary">... </div>
    </div>

</section>