<!-- CURSOS GRATUITOS -->
<section id="portfolio">
    <h3 class="titulo-seccion">Cursos gratuitos</h3>
    <div class="fila">
        <div class="proyecto">
            <div class="overlay"></div>
            <img src="/img/proyecto1.jpg" alt="HTML y CSS para todas las edades">
            <div class="info">
                <h4>HTML y CSS para todas las edades</h4>
                <p>Diseño Web</p>
            </div>
        </div>
        <div class="proyecto">
            <div class="overlay"></div>
            <img src="/img/proyecto2.png" alt="Aprende las Bases de JavaScript">
            <div class="info">
                <h4>Aprende las Bases de JavaScript</h4>
                <p>Diseño Web</p>
            </div>
        </div>
        <div class="proyecto">
            <div class="overlay"></div>
            <img src="/img/proyecto3.png" alt="Nuevas tendencias del desarrollo web">
            <div class="info">
                <h4>Nuevas tendencias del desarrollo web</h4>
                <p>Diseño Web</p>
            </div>
        </div>
    </div>
    <div class="fila">
        <div class="proyecto">
            <div class="overlay"></div>
            <img src="/img/proyecto4.png" alt="Comportamiento responsivo">
            <div class="info">
                <h4>Comportamiento responsivo</h4>
                <p>Diseño Web</p>
            </div>
        </div>
        <div class="proyecto">
            <div class="overlay"></div>
            <img src="/img/proyecto5.png" alt="Bootstrap">
            <div class="info">
                <h4>Bootstrap</h4>
                <p>Diseño Web</p>
            </div>
        </div>
        <div class="proyecto">
            <div class="overlay"></div>
            <img src="/img/proyecto6.png" alt="WordPress">
            <div class="info">
                <h4>WordPress</h4>
                <p>Diseño Web</p>
            </div>
        </div>
    </div>
    <div class="fila">
        <div class="proyecto">
            <div class="overlay"></div>
            <img src="/img/proyecto7.png" alt="Aprende a consumir apis">
            <div class="info">
                <h4>Aprende a consumir apis</h4>
                <p>Diseño Web</p>
            </div>
        </div>
        <div class="proyecto">
            <div class="overlay"></div>
            <img src="/img/proyecto8.jpg" alt="Aprende POO en JavaScrip">
            <div class="info">
                <h4>Aprende POO en JavaScript</h4>
                <p>Diseño Web</p>
            </div>
        </div>
        <div class="proyecto">
            <div class="overlay"></div>
            <img src="/img/proyecto9.jpg" alt="Aprende TypeScript">
            <div class="info">
                <h4>Aprende TypeScript</h4>
                <p>Diseño Web</p>
            </div>
        </div>
    </div>
</section>
