

<div class="container card mb-3" style="width: 1111rem;">
    <div class="card-body">
    </div>
</div>
<div class="container card text-center">
    <div class="card-header p-3 mb-2 bg-success text-white">
        Presentado
    </div>
    <div class="card-body ">
        <h5 class="card-title p-3 mb-2 bg-dark text-white ">Iniciar Sesión </h5>
        <p class="card-text">Este texto está diseñado con algunas propiedades de formato de texto. El encabezado utiliza
            las propiedades de alineación de texto, transformación de texto y color. El párrafo está sangrado y
            alineado, y se especifica el espacio entre caracteres. Se ha eliminado el subrayado de este enlace "Pruébelo
            usted mismo" en color.</p>

        <a href="#" class="btn btn-primary"></a>
    </div>


    <div class="container text-center">

        <div class="row">
            <div class="col">
            </div>
            <div class="col">
                <form class="row" [formGroup]="formulario" (ngSubmit)="onSubmit()">
                    <app-goole-button (onClick)="signInWithGoogle()" />
                    <div class="col-12 ">
                        <label for="validationDefault02" class="form-label">Email </label>
                        <input type="text" class="form-control" id="validationDefault02"
                            placeholder="exercise@gmail.com" formControlName="email" required>
                        @if (isRequired('email')) {
                        <div class="alert alert-danger" role="alert">
                            Este campo es requerido
                        </div>
                        }
                        @if (hasEmailError()) {
                        <div class="alert alert-danger" role="alert">
                            El correo debe ser valido </div>
                        }
                    </div>

                    <div class="col-12">
                        <label for="validationDefault04" class="form-label">Password</label>
                        <input type="text" class="form-control" id="validationDefault03" placeholder="....."
                            formControlName="password">
                        @if (isRequired('password')) {
                        <div class="alert alert-danger" role="alert">
                            Este campo es requerido
                        </div>
                        }
                    </div>
                    <div class="col-12">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="invalidCheck2" required>
                            <label class="form-check-label" for="invalidCheck2">
                                Aceptar términos y condiciones.
                            </label>
                        </div>
                    </div>
                    <div class="col-12">
                        <button class="btn btn-primary" type="submit">Enviar </button>
                    </div>
                    <div class="alert alert-primary" role="alert">
                        Aún no tienes una cuenta? <a routerLink="/auth/sign-up" class="alert-link">Crea una cuenta</a>.
                    </div>
                </form>
            </div>
            <div class="col">

            </div>
        </div>
    </div>

    <div class="card-body ">
        <h5 class="card-title"></h5>
        <p class="card-text">Con texto de apoyo a continuación como introducción natural a contenido adicional.</p>
        <a href="#" class="btn btn-primary"></a>
    </div>
    <div class="card-footer text-body-secondary">... </div>
</div>



<div class="container card text-center mb-3" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">Contacts</h5>
        <p class="card-text">Con texto de apoyo a continuación como introducción natural a contenido adicional.t.</p>
        <a href="#" class="btn btn-primary">Ayuda ...</a>
    </div>
</div>

  <app-task-footer></app-task-footer>
