.ac{
    background-color:black ;
    color: white;
}
.b{
    color: white;
}

.presentacion a{
    text-decoration: none;
    display: inline-block;
    margin: 15px;
    padding: 8px 10px;
    border: 2px solid #fff;
    border-radius: 50px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    transition: .5s;
}

.presentacion a:hover{
    background-color: rgb(20, 187, 123);
}






.example-spacer {
  flex: 1 1 auto;
}

