<mat-toolbar class="ac presentacion">
  
    <span class="example-spacer"></span>

  <a mat-button class="" routerLink="['/']" >
    <mat-icon class="">home</mat-icon>
    <samp>Home</samp>
  </a>
   <a mat-button routerLink="'/contacts' " href="#" >
    <mat-icon class="">list-alt</mat-icon>
    <samp>Contacts </samp>
  </a>
  <a mat-button class="" routerLink="['/']" >
    <mat-icon class="">home</mat-icon>
    <samp>Home</samp>
  </a>
   <a mat-button routerLink="'/contacts' " href="#" >
    <mat-icon class="">list-alt</mat-icon>
    <samp>Contacts </samp>
  </a>

    <a mat-button class="" routerLink="['/']" >
    <mat-icon class="">home</mat-icon>
    <samp>Home</samp>
  </a>
   <a mat-button routerLink="'/contacts' " href="#" >
    <mat-icon class="">list-alt</mat-icon>
    <samp>Contacts </samp>
  </a>
  <!--  <a mat-button (click)="emitClick()">
    <mat-icon>add_box</mat-icon>
    <samp>New</samp>
  </a>
   -->
</mat-toolbar>
