<!-- ENCABEZADO -->
<header  class="encabezado">
    <div class="contenido-header">
        <div class="logo">
            <img src="/img/web.png" alt="Juán Carlos Albán Luna ">
        </div>
        <nav id="nav" class="">
            <ul id="links">
                <li><a href="index.html" class="seleccionado">INICIO</a></li>
                <li><a href="#sobreNosotros">NOSOTROS</a></li>
                <li><a href="#cursos">CURSOS</a></li>
                <li><a href="#portfolio">CONTENIDO GRATUITO</a></li>
                <li><a href="#contacto">CONTACTO</a></li>
            </ul>
        </nav>

        <!-- Iconos del menu responsive -->
        <div id="icono-nav">
            <i class="fa-solid fa-bars"></i>
        </div>

        <!-- Redes Sociales -->
        <div class="redes">
            <a href="https://www.youtube.com/@juancarlosalbanluna818" target="_blank"><i
                    class="fa-brands fa-youtube"></i></a>
            <a href="https://www.facebook.com/jalbanluna" target="_blank"><i class="fa-brands fa-facebook"></i></a>
            <a href="https://www.instagram.com/juan_carlos_alb/" target="_blank"><i
                    class="fa-brands fa-instagram"></i></a>

        </div>
    </div>
</header>
