<div class="container">
    <h6>Trabajar en Tabla</h6>
</div>

<table class="container table  table-dark table-striped">

    <thead>
        <tr>
            <th scope="col">#ID</th>
            <th scope="col">TÍTULO</th>
            <th scope="col">COMPLETADO</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>mdo </td>
        </tr>
       
    </tbody>
</table>