<div class="container">
    <h6>Tabla</h6>
</div>

<table class="container table  table-dark table-striped">

    <thead>
        <tr>
            <th scope="col">#ID</th>
            <th scope="col">TÍTULO</th>
            <th scope="col">COMPLETADO</th>
            <th scope="col">USUARIO</th>
            <th scope="col">ACCIONES</th>

        </tr>
    </thead>
    <tbody class="scroll">

        @for (item of data; track item.id)
        {
        <tr class="">
            
            <th scope="row">{{item.id }}</th>
            <td>{{item.title }} </td>
            <td>{{item.body }}</td>
            <td>Otto</td>
            <td>
                <a type="button" [routerLink]="['/tasks/edit/'] + '222333'" class="btn btn-primary"><svg
                        xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="icon icon-tabler icons-tabler-outline icon-tabler-edit">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path d="M7 7h-1a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-1" />
                        <path d="M20.385 6.585a2.1 2.1 0 0 0 -2.97 -2.97l-8.415 8.385v3h3l8.385 -8.415z" />
                        <path d="M16 5l3 3" />
                    </svg>
                </a>
                <a type="button" [routerLink]="['/tasks/delete/'] + '222333'" class="btn btn-danger">

                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-trash" viewBox="0 0 16 16">
                        <path
                            d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z" />
                        <path
                            d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z" />
                    </svg>
                </a>


            </td>
        </tr>
        }
    </tbody>
</table>


<nav aria-label="...">
    <ul class="pagination">
        <li class="page-item disabled">
            <a class="page-link">Anterior</a>
        </li>
        <li class="page-item  active">
            <a class="page-link" href="#"aria-current="page">1</a>
        
        </li>
        <li class="page-item ">
            <a class="page-link" href="#" >2</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
            <a class="page-link" href="#">Siguiente</a>
        </li>
    </ul>
</nav>
