<div class="container">
    <h6>Tabla</h6>
</div>

<table class="container table  table-dark table-striped">

    <thead>
        <tr>
            <th scope="col">#ID</th>
            <th scope="col">TÍTULO</th>
            <th scope="col">COMPLETADO</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr>

            <!--  @for (item of items; track $index) { }-->
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>
                <a type="button" [routerLink]="['/tasks/edit/'] + '222333'" class="btn btn-primary"><svg
                        xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="icon icon-tabler icons-tabler-outline icon-tabler-edit">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path d="M7 7h-1a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-1" />
                        <path d="M20.385 6.585a2.1 2.1 0 0 0 -2.97 -2.97l-8.415 8.385v3h3l8.385 -8.415z" />
                        <path d="M16 5l3 3" />
                    </svg>
                </a>
            </td>
        </tr><tr>
<!--  
              @for (user of userTaskService.usersT(); track user.id) { 
            <td>{{user.first_name}}</td>


              }-->
            <th scope="row">2</th>
            <td>Juán</td>
            <td>Albán</td>
            <td>
                <a type="button" [routerLink]="['/tasks/edit/'] + '222333'" class="btn btn-primary"><svg
                        xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="icon icon-tabler icons-tabler-outline icon-tabler-edit">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path d="M7 7h-1a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-1" />
                        <path d="M20.385 6.585a2.1 2.1 0 0 0 -2.97 -2.97l-8.415 8.385v3h3l8.385 -8.415z" />
                        <path d="M16 5l3 3" />
                    </svg>
                </a>
            </td>
        </tr>


    </tbody>
</table>